<% provide(:heading, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:heading) %></title>
  </head>
  <body>

    <% if logged_in? %>
      <div class="row">
        <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/review_form' %>
          </section>
        </aside>
      </div>
    <% else %>

    <h1>Welcome</h1>
    <p>
      Pretend to buy stuff. It's fun.
    </p>

    <p>Welcome back. <%= link_to "Sign in here.", login_path %></p>

    <p>New here? <%= link_to "Sign up now!", register_path %></p>

    <% end %>
  </body>
</html>
