<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-5">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @user.address %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= link_to 'Click to change', edit_user_path(@user) %>
    </p>
    <%= link_to 'Edit', edit_user_path(@user) %>
  </aside>

  <div class="col-md-7">
    <% if @user.reviews.any? %>
      <h3>Reviews (<%= @user.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render current_user.reviews %>
      </ol>
    <% else %>
      <p>User has no reviews.</p>
    <% end %>
  </div>

</div>
