<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <td><%= product.category %></td>
        <td>$<%= product.price %></td>
        <td><%= link_to 'Show Details', product %> |
            <%= link_to 'Review Product', new_review_path %> |
            <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="right">
<%= link_to 'Add New Product', new_product_path %>
</div>
