<%= form_for(@review) do |f| %>

  <%= render 'shared/error_messages', object: @user %>

    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :content, placeholder: "Add new review" %>
    </div>
    <div class="actions">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>

<% end %>
